

.h3White{
	color:rgb(255,255,255);
}

.h3Footer{
	color:rgb(255,255,255);
	font-size:15px;
	padding-bottom:10px;
	text-align:center;
}


	body, .panel {
	background-color: #E8E8E8;
	font-family: 'Comfortaa', cursive;
}

.panel {
	border: 1px solid #222222;
}

.panel-heading, .panel-footer {
	background-color: #222222;
	color: #fff;
}

.panel-footer {
	text-align: right;
	font-size: 1rem;
	padding-right:0px; 
}

.panel-footer p {
	margin: 0;
}

.media {
	margin: 0 10px 0 0;
}

div p button{
	margin-top:-3px;
	margin-right: 15px;
}

.bgButtonEffacer{
	background-color:#DD7070;
	border: 0;
}

.bgButtonModifier {
	border: 0;
}

img {
	margin: 10px 0 10px 10px; 
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
}

.media-body p {
	margin: 10px 10px 10px 0; 
}

.footerTitle {
	text-align: center;
}